@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BytPax Project</h1>
   
</div>

<h2>Sorted Athletes by Age</h2>
<ul>
    @foreach (var athlete in ViewData["SortedAthletesByAge"] as IEnumerable<BytPax.Models.Athlete>)
    {
        <li>
            <strong>@athlete.FullName</strong><br />
            Age: @athlete.Age<br />
            <em>@athlete.Description</em>
        </li>
    }
</ul>

<h2>Sorted Articles by ID</h2>
<ul>
    @foreach (var article in ViewData["SortedArticlesById"] as IEnumerable<BytPax.Models.Article>)
    {
        <li>
            <strong>@article.Topic</strong><br />
            <em>@article.BodyText</em><br />
            <span>ID: @article.Id</span>
        </li>
    }
</ul>