@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BytPax Project</h1>
    <h3>Version of program is 0.3</h3>
</div>

<h2>Sorted Athletes by Age</h2>
<a href="@Url.Action("Create", "Admin")" class="btn btn-success">Add New Athlete</a>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Age</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var athlete in ViewData["SortedAthletesByAge"] as IEnumerable<BytPax.Models.Athlete>)
        {
            <tr>
                <td>@athlete.FullName</td>
                <td>@athlete.Age</td>
                <td>@athlete.Description</td>
                <td>
                    <a href="@Url.Action("Edit", "Admin", new { id = athlete.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Admin", new { id = athlete.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
