@model BytPax.Models.AdminManagementViewModel

<h2>Керування контентом</h2>

<h3>Статті</h3>
<a href="@Url.Action("CreateArticle")">Додати статтю</a>
<table>
    @foreach (var article in Model.Articles)
    {
        <tr>
            <td>@article.Topic</td>
            <td>
                <a href="@Url.Action("EditArticle", new { id = article.Id })">Редагувати</a> |
                <a href="@Url.Action("DeleteArticle", new { id = article.Id })">Видалити</a>
            </td>
        </tr>
    }
</table>

<h3>Атлети</h3>
<a href="@Url.Action("CreateAthlete")">Додати атлета</a>
<table>
    @foreach (var athlete in Model.Athletes)
    {
        <tr>
            <td>@athlete.FullName</td>
            <td>
                <a href="@Url.Action("EditAthlete", new { id = athlete.Id })">Редагувати</a> |
                <a href="@Url.Action("DeleteAthlete", new { id = athlete.Id })">Видалити</a>
            </td>
        </tr>
    }
</table>
