@model BytPax.Models.Athlete

<h2>Додати атлета</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        <label>Ім’я</label>
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FullName)
    </div>

    <div class="form-group">
        <label>Країна</label>
        @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Country)
    </div>

    <div class="form-group">
        <label>Місто</label>
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>

    <div class="form-group">
        <label>Категорія</label>
        <select class="form-control" name="categoryId">
            @foreach (var category in ViewBag.Categories as List<BytPax.Models.Category>)
            {
                <option value="@category.Id">@category.TypeOfSport</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Вік</label>
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", type = "number", min = 1 })
        @Html.ValidationMessageFor(m => m.Age)
    </div>

    <div class="form-group">
        <label>Опис</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <button type="submit" class="btn btn-primary mt-2">Зберегти</button>
}

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@
