@model IEnumerable<BytPax.Models.Athlete>

@{
    ViewBag.Title = "Атлети";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">🏅 Список атлетів</h2>
    <a class="btn btn-success" href="@Url.Action("Create", "Athletes", new { area = "Admin" })">➕ Додати атлета</a>
</div>

<div class="card mb-4">
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead class="table-dark">
            <tr>
                <th>Ім'я</th>
                <th>Країна</th>
                <th>Категорія</th>
                <th class="text-center">Дії</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var athlete in Model)
            {
                <tr>
                    <td>@athlete.FullName</td>
                    <td>@athlete.Country</td>
                    <td>@athlete.Category?.TypeOfSport</td>
                    <td class="text-center">
                        <!-- Кнопка редагування -->
                        <a class="btn btn-primary btn-sm me-1" href="@Url.Action("Edit", "Athletes", new { id = athlete.Id, area = "Admin" })">✏️Редагувати</a>
                        <!-- Кнопка видалення -->
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Athletes", new { id = athlete.Id, area = "Admin" })" onclick="return confirm('Ви впевнені, що хочете видалити атлета?');">🗑️Видалити</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>